PORT=4003
APP_URL=https://quickvoice.ryuuzaki.top

TTS_PROVIDER=microsoft_unofficial
STT_PROVIDER=siliconflow
ENABLE_STT=true
ENABLE_PUBLIC_STT=true
ENABLE_STT_SILICONFLOW=true
ENABLE_STT_VOSK=true
VOSK_WS_URL=ws://vosk-cn:2700

# Recommended: replace with your own key in production.
SILICONFLOW_API_KEY=
SILICONFLOW_STT_MODEL=FunAudioLLM/SenseVoiceSmall
