PORT=4003
APP_URL=https://quickvoice.ryuuzaki.top

STT_PROVIDER=volcengine
TTS_PROVIDER=minimax

ENABLE_STT_VOLCENGINE=true
VOLCENGINE_ACCESS_KEY_ID=
VOLCENGINE_SECRET_ACCESS_KEY=
VOLCENGINE_STT_APP_ID=
VOLCENGINE_STT_MODEL=volc.bigasr.auc_turbo
VOLCENGINE_STT_MODEL_OPTIONS=volc.bigasr.auc_turbo
VOLCENGINE_STT_ENDPOINT=https://openspeech.bytedance.com/api/v3/auc/bigmodel/recognize/flash

ENABLE_STT_VOSK=true
VOSK_WS_URL=ws://vosk-cn:2700

ENABLE_TTS_MINIMAX=true
MINIMAX_API_KEY=
MINIMAX_TTS_MODEL=speech-2.8-turbo
MINIMAX_TTS_MODEL_OPTIONS=speech-2.8-turbo,speech-2.8-hd,speech-2.6-turbo,speech-2.6-hd
MINIMAX_TTS_ENDPOINT=https://api.minimaxi.com/v1/t2a_v2
MINIMAX_TTS_VOICE_ID=Chinese (Mandarin)_Warm_Girl
MINIMAX_TTS_VOICE_OPTIONS=Chinese (Mandarin)_Warm_Girl,Chinese (Mandarin)_News_Anchor,English_expressive_narrator

ENABLE_TTS_MICROSOFT_UNOFFICIAL=true
MICROSOFT_TTS_VOICE_ID=zh-CN-XiaoxiaoNeural
MICROSOFT_TTS_VOICE_OPTIONS=zh-CN-XiaoxiaoNeural,zh-CN-YunxiNeural

OPENAI_API_KEY=
OPENAI_SUMMARY_MODEL=gpt-5.5
OPENAI_SUMMARY_MODEL_OPTIONS=gpt-5.5
OPENAI_SUMMARY_ENDPOINT=https://api.openai.com/v1/responses
